.container {
    position: sticky;
    top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    border-radius: 12px;
    background: rgba(24, 24, 29, 0.30);
    backdrop-filter: blur(2px);
    padding: 16px;
    z-index: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icons {
    display: flex;
    gap: 24px;
}
